@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Ronin</h1>
    <p>Learn about <a href="https://www.youtube.com/channel/UC6y7P8AosdPTbmlXEK7bLhA">404.Ronin Youtube Channel</a>.</p>
</div>
